<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container" style="margin-top: 50px;">
  <h5>商品新規登録</h5>
  <div class="d-flex justify-content-center align-items-center">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <div class="row">
      <div class="col-lg-5">
        商品画像
      </div>
      <div class="col-lg-6">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        商品名
      </div>
      <div class="col-lg-6">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        商品説明
      </div>
      <div class="col-lg-6">
        <%= f.text_area :introduction %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        ジャンル
      </div>
      <div class="col-lg-6">
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        税抜き価格
      </div>
      <div class="col-lg-6">
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        販売ステータス
      </div>
      <div class="col-lg-6">
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active_true, '販売中' %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active_false, '販売停止中' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5"></div>
      <div class="col-lg-6">
        <%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

