<div class="container" style="margin-top: 50px;">
    <div class="row"  style="margin-left: 50px;">
        <h5>商品詳細</h5>
    </div>

    <div class="row"  style="margin-top: 50px;">
        <div class="d-flex justify-content-center align-items-center col-lg-6" style="margin-right: -65px;">
            <%= image_tag @item.get_image(300, 300) %>
        </div>
        <div class="col-lg-6" style="margin-left: -65px;">
            <p>商品名：<%= @item.name %></p>
            <p>商品説明：<%= @item.introduction %></p>
            <p>ジャンル：<%= @item.genre.name %></p>
            <p>税込み価格(税抜き価格)：<%= @item.price %></p>
            <p><% if @item.is_active == true %>
                <%= "販売中" %>
                <% else %>
                <%= "販売停止中" %>
               <%end %></p>
            <%= link_to '編集する', edit_admin_item_path(@item.id),  class: "btn btn-sm btn-success"%>
        </div>
    </div>
</div>



