<div class="container">
  <div class="m-3">
    管理者ログイン
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 25vh; flex-direction: column;">
  <div>
      メールアドレス<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div>
      パスワード<%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div>
    <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
  </div>

  </div>
  <% end %>
</div>

<%= render "admin/shared/links" %>
