<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |customer| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <p>会員ＩＤ<%= @customer.id %></p>
  <p>氏名<%= f.text_field :last_name %><%= f.text_field :first_name %></p>
  <p>フリガナ<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
  <p>郵便番号<%= f.text_field :postal_code %></p>
  <p>住所<%= f.text_field :address %></p>
  <p>電話番号<%= f.text_field :telephone_number %></p>
  <p>メールアドレス<%= f.text_field :email %></p>
  <p>会員ステータス
      <%= f.radio_button :is_deleted, false, id: "is_deleted_false" %>
      <%= f.label :is_deleted, '有効', for: "is_deleted_false" %>
      <%= f.radio_button :is_deleted, true, id: "is_deleted_true" %>
      <%= f.label :is_deleted, '無効' , for: "is_deleted_true"%></p>
      <%= f.submit '変更を保存' %>
<% end %>