<div class="container">
  <div class="row">
    <h5>会員一覧</h5>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>会員ＩＤ</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <tbody>
        <% @customer.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to admin_customer_path(customer.id) do %>
                <span class="text-dark"> <%= customer.last_name + customer.first_name %></span>
              <% end %></td>
          <td><%= customer.email %></td>
          <td class="<%= customer.is_deleted ? 'text-muted' : 'text-success' %>"><% if customer.is_deleted == false %>
                <%= '有効'  %>
              <% else %>
                <%= '退会' %>
              <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @customer %>
</div>



