<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <ul>
    <% @address.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @address, url: address_path, method: :patch do |f| %>
  <p>郵便番号(ハイフンなし)<%= f.text_field :postal_code %></p>
  <p>住所<%= f.text_field :address %></p>
  <p>宛名</p><%= f.text_field :name %></p>
  <%= f.submit '変更内容を保存' %>
<% end %>