<dvi class="container">
  <h4 class="ml-4">新規会員登録</h4>
  <div class="row">
    <div class="col-lg-10">
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="row form-group">
        <%= f.label :"名前", class: "col-lg-4" %>
        <%= f.label :"(姓)" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "col-lg-3" %>
        <%= f.label :"(名)"%>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "col-lg-3" %>
      </div>
      <div class="row form-group">
        <%= f.label :"フリガナ", class: "col-lg-4" %>
        <%= f.label :"(セイ)" %>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "col-lg-3" %>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "col-lg-3" %>
      </div>
      <div class="row form-group">
        <%= f.label :"メールアドレス", class: "col-lg-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-6" %>
      </div>
      <div class="row form-group">
        <%= f.label :"郵便番号(ハイフンなし)", class: "col-lg-4" %>
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-lg-6" %>
      </div>
      <div class="row form-group">
        <%= f.label :"住所", class: "col-lg-4" %>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-lg-6" %>
      </div>
      <div class="row form-group">
        <%= f.label :"電話番号(ハイフンなし)", class: "col-lg-4" %>
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "col-lg-6" %>
      </div>
      <div class="row form-group">
        <%= f.label :"パスワード(6文字以上)", class: "col-lg-4" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-lg-6" %>
      </div>
      <div class="row form-group">
        <%= f.label :"パスワード(確認用)", class: "col-lg-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "col-lg-6" %>
      </div>
      <div class="actions mx-auto text-center">
        <%= f.submit "新規登録" , class: "btn btn-sm btn-success col-lg-4" %>
      </div>
      <% end %>
    </div>
  </dvi>
  <h4 class="ml-4">既に登録済みの方</h4>
  <%= render "public/shared/links" %>からログインしてください。
</div>
