<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="m-3">ログイン</h4>
      <h5>会員の方はこちらからログイン</h5>
      <%= form_with model:@customer, url: customer_session_path do |f| %>
      <div class="row form-group">
        <%= f.label :"メールアドレス", class: "col-lg-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-3" %>
      </div>
      <div class="row form-group">
        <%= f.label :"パスワード", class: "col-lg-3" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-lg-3" %>
      </div>
      <div class="actions ml-3">
        <%= f.submit "ログイン" , class: "btn btn-sm btn-info col-lg-3" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h5>会員登録がお済みでない方</h5>
      <%= render "public/shared/links" %>から新規登録を行ってください。
    </div>
  </div>
</div>