<h2>商品一覧</h2>
<p>全<%= @items.count %>件</p>
<% @items.each do |item| %>
  <p><%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image, size: "200×200" %>
    <% end %></p>
  <p><%= item.name %></p>
  <% price = item.price * 1.1 %>
  <p>￥<%= price.floor %></p>
<% end %><h2>商品一覧</h2>
<p>全<%= @items.count %>件</p>
<% @items.each do |item| %>
  <p><%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image, size: "200×200" %>
    <% end %></p>
  <p><%= item.name %></p>
  <% price = item.price * 1.1 %>
  <p>￥<%= price.floor %></p>
<% end %>