<%= image_tag @item.get_image(100, 100) %>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<% price = @item.price * 1.1 %>
<p>￥<%= price.floor %>(税込)</p>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit 'カートに入れる' %>
<% end %>